h2{
    color: red;
}
#deni{

    background-color: black;
    border: 1px solid black;
}
#red{

    color: blue;
}
h1{
    color: black;
}
ul{
    color: red;
    background-color:cadetblue;
}